# Flutter/Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
android/.gradle/
android/app/build/
lib/generated_plugin_registrant.dart

# macOS
.DS_Store

# Sensitive files
*.g.dart
*.hive

# Logs
*.log

# Environment
.env
